@mixin blur-effect {
  color: $color-white;
  text-shadow: 0 0 7px $color-white, 0 0 20px $color-white, 0 0 42px $light-grey,
    0 0 82px$light-grey, 0 0 92px$light-grey, 0 0 102px $light-grey,
    0 0 151px$light-grey;
}

@mixin shadow {
  box-shadow: 0 0 6rem rgba(0, 0, 0, 0.15);
}

@mixin shadow-1 {
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.088);
}

// MEDIA QUERY

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) {
      //600px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 934px) {
      //900px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 1200px) {
      //1200px
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (max-width: 1308px) {
      //1308
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 1800px) {
      //1800
      @content;
    }
  }
}
