// COLORS
$color-white: #fff;
$color-white-1: #f5f5f5;
$color-white-2: #edf1e8;
$light-grey: #cfcfcf;
$medium-grey: #666666;
$medium-grey-1: #373737;
$dark-grey: #111111;
$color-black: #000000;
$dark-grey-opacity: rgba(17, 17, 17, 0.546);

//FONT SIZE

$small-size: 1.5rem;
$default-size: 1.8rem;
$big-size: 3rem;
$huge-size: 5rem;

$default-radius: 4px;
$bigger-radius: 50%;
