footer {
  padding: 3rem;
  background-color: $dark-grey-opacity;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .author {
    color: $color-white-2;
    text-align: center;
  }

  .footer {
    &__list {
      height: 100%;
      display: flex;
      align-items: flex-end;

      gap: 8.3rem;

      list-style: none;

      @include respond(phone) {
        justify-content: flex-start;
        gap: 3.5rem;
        padding-right: 10rem;
      }
    }

    .ph-light {
      font-size: $big-size;
    }

    &__link:link,
    &__link:visited {
      text-decoration: none;
      color: $light-grey;
      transition: all 0.1s;
    }

    &__link:hover,
    &__link:active {
      text-decoration: none;
      @include blur-effect;
    }
  }
}
