.nav-desktop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 800;
  padding: 1.3rem;
  background-color: $dark-grey-opacity;

  @include respond(tab-port) {
    display: none;
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 20rem;
  }

  &__link:link,
  &__link:visited {
    color: $light-grey;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-size: $small-size;
    font-weight: 400;
    transition: all 0.1s;
  }

  &__link:hover,
  &__link:active {
    @include blur-effect;
  }
}

.nav-mobile {
  display: none;

  @include respond(tab-port) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 800;

    &__toggler {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 900;
      cursor: pointer;
      width: 5rem;
      height: 5rem;
      opacity: 0;
    }

    &__hamburger {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 800;
      width: 6rem;
      height: 6rem;
      padding: 1rem;
      background-color: $dark-grey-opacity;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $default-radius;

      & > div {
        position: relative;
        width: 100%;
        height: 0.2rem;
        background-color: $light-grey;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;

        &:before,
        &:after {
          content: "";
          position: absolute;
          z-index: 800;
          top: -1rem;
          width: 100%;
          height: 0.2rem;
          background: inherit;
        }

        &:after {
          top: 1rem;
        }
      }
    }

    &__toggler:checked + &__hamburger > div {
      transform: rotate(135deg);
    }

    &__toggler:checked + &__hamburger > div::before,
    &__toggler:checked + &__hamburger > div::after {
      top: 0;
      transform: rotate(90deg);
    }

    &__toggler:checked:hover + &__hamburger > div {
      transform: rotate(225deg);
    }

    &__toggler:checked ~ &__menu {
      visibility: visible;
    }

    &__toggler:checked ~ &__menu > div {
      transform: scale(1);
      transition-duration: 0.75s;
    }

    &__toggler:checked ~ &__menu > div > div {
      opacity: 1;
      transition: opacity 0.4s ease;
    }

    &__menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      visibility: hidden;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      & > div {
        background-color: rgba(0, 0, 0, 0.939);
        width: 500vw;
        height: 500vh;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;

        & > div {
          text-align: center;
          max-width: 90vw;
          max-height: 100vh;
          opacity: 0;
          transition: opacity 0.4s ease;
        }
      }
    }

    &__item {
      list-style: none;
      padding: 2rem;
    }

    &__link:link,
    &__link:visited {
      text-decoration: none;
      color: grey;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.4rem;
      font-size: $big-size;
      font-weight: 400;
      transition: color 0.4s ease;
    }

    &__link:hover,
    &__link:active {
      @include blur-effect;
    }
  }
}
